<h2>Invoice Information</h2>
<p>InvoiceNo: ${{info.InvoiceNo}}</p>
<p>Manufacturer: ${{info.Manufacturer}}</p>
<p>Sales in thousands: ${{info.Sales_in_thousands}}</p>
<p>Year resale value: ${{info.__year_resale_value}}</p>
<p>Vehicle type: ${{info.Vehicle_type}}</p>
<p>Price in thousands: ${{info.Price_in_thousands}}</p>
<p>Engine_size: ${{info.Engine_size}}</p>
<p>Width: ${{info.Width}}</p>
<p>Horsepower: ${{info.Horsepower}}</p>
<p>Wheelbase: ${{info.Wheelbase}}</p>`;